.Contact{
    display: flex;
    flex-direction: column;
    background-color: rgba(0,55,55,1);
    margin:1% 0% 0% 0%;
    padding: 3%;
    align-items: center;
}
.Contact .Contact-Container{
    width:100%;
}
.Contact .Contact-Container ul{
    display: flex;
    width:100%;
    justify-content: space-around;
}
.Contact .Contact-Container ul li{
    font-size: 1.5vw;
    list-style: none;
}
.Contact .Contact-Container .Icon{
    width:10%;
    height: 10%;
    color: whitesmoke;
    padding: 3%;
}
.Contact .Contact-Container a{
    color: whitesmoke;
    text-decoration: none;
    color: white;
    display: flex;
    align-items: center;
}
.Contact .Address{
    color: whitesmoke;
    font-size: 1.5vw;
    padding:2% 0%;
}
@media screen and (max-width:600px) {
    .Contact .Contact-Container ul li,.Contact .Address{
        font-size: 2vw;
    }
    .Contact .Contact-Container .Icon{
        height: 15%;
        width: 15%;
    }
    
}